# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/
.venv/
.env
.env.*

# IDE
.vscode/
.idea/

# Logs
*.log

# System
.DS_Store
Thumbs.db

# Streamlit
.streamlit/

# Videos
*.mp4
*.mov
*.avi
*.mkv