streamlit
streamlit-option-menu

pypdf

langchain
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-chroma

sentence-transformers

chromadb

Sastrawi

pandas
matplotlib
wordcloud
scikit-learn

openpyxl

networkx

python-dotenv

groq
python-dotenv